<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- <link rel="stylesheet" href="../css/system_works.css"> --><!-- Linking to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='system_works.css') }}">
</head>

    <body>

        <h2>
            Object Detection Inference
        </h2>
        <p> Here, it is Object Detection Inference with Onnx and TensorRT <br>
            Frameworks, Basically it is Yolov5 Object Detection Highly Optimized <br>
            And Quantized! Model is quantized with TensorRT Dynamic Libraries,  <br>
            providing Asynchoronous Client-Server Communication! <br>
          
            If you want to try your custom object Detection Model. Then follow me!
        </p>

        <!--video soruce-->
        <div>
            <!--<video id="videoObject" width="640" height="420" controls>-->
                
               <!--<source src="https://youtu.be/lBRZzgeUSpk?si=qDHp6tI8KlOvNyya" type="video/mp4">-->
               <iframe id = "videoObject" width="640" height="360" src="https://www.youtube.com/embed/lBRZzgeUSpk" frameborder="0" allowfullscreen></iframe>
                
                Your browser does not support the video tag.
            
            </video>
         </div>



         <h2> YoloV8 Human Detection and Tracking on Jetson Tx2</h2>

         <p> Here, it isYolov8  Object Detection and Tracking Inference with Onnx and TensorRT <br>
            Frameworks, Basically it is Yolov8 Object Detection Highly Optimized <br>
            And Quantized! Extended Kalman Filter is used together with model is quantized with  <br>
            TensorRT Dynamic Libraries,  <br>
            providing Asynchoronous Client-Server Communication! <br>
        
        </p>
        <div>

            <iframe id ="videoObject2" width="640" height="360" src="https://www.youtube.com/embed/HQwED-7pqlw" frameborder="0" allowfullscreen></iframe>
        </div>



        <h2> YoloV8 Real Time Inference</h2>

        <p> Here, it isYolov8  Object Detection and Tracking Inference with Onnx and TensorRT <br>
           Frameworks, Basically it is Yolov8 Object Detection Highly Optimized <br>
           And Quantized model, TensorRT Dynamic Libraries,  <br>
           providing Asynchoronous Client-Server Communication! <br>
       
       </p>
       <div>

           <iframe id ="videoObject3" width="640" height="360" src="https://www.youtube.com/embed/qsAbBUtSpf4" frameborder="0" allowfullscreen></iframe>
       </div>



    </body>
</html>